.DS_Store
.vscode/
.bloop/
.bsp/
.metals/
.cache/
.sbt-local/
.coursier-cache/
.config
.config.*

project/project/
build/
target/
obj_dir/
logs/
synth/
demu.log

hex/
elf/
bin/
dump/

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Logs
*.log
*.jou

# garbage
.codex
